

/* Header*/

header {
    background-color: #f5f3f0;
    display: flex;
    align-items: center;
}

header div img {
    width: 80px;
    margin: 4px 0 4px 0;
}

.nav-left {

}

.nav-left .material-icons.md-18 {
    font-size: 25px;
    margin: 25px 15px;
}

.search {
    margin: auto;
    align-items: center;
    display: flex;
}

.search-box input {
    height: 27px;
    width: 300px;
}

.search-button {
    font-size: 15px;
}

.nav-right {
 align-items: center;
 display: flex;
}

.nav-right .material-icons.md-18 {
    font-size: 25px;
    margin: 25px 5px;
}

.profile-img {
    margin: 0px 10px 2px 0;
    border: 1px solid lightblue;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}


/* Body-Content */

.body-content {
    display: flex;
}



/* Main */

main {
    width: 75%;
    margin-right: 30px;
    display: inline-block;
    background-color: white;
}

.vid-label {
    margin: 10px 30px 0 142px;
    display: flex;
}

.share{
    display: inline;
}

.share-icon {
    height: 25px;
    width: 25px;
}

.playlist {
    display: inline;
}

.save {
    height: 35px;
    width: 35px;
}

.three-dot {
    height: 35px;
    width: 35px;
}

.video {
    margin: 30px 30px 0 10%;
}

/* Aside */

aside {
    width: 24%;
    margin: 30px 0 0 0 ;
    display: inline-block;
    background-color: red;
}